.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    height: 50px;
    width: 100%;
    color: white;
    background-color: rgb(34, 79, 116);
    /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); */
    z-index: 2;
    top: 0;
    font-weight: 500;
}

.green-btn {
    border: 0px;
    font-size: 16px;
    padding: 8px;
    color: white;
    background-color: rgb(24, 141, 18);
    border-radius: 2px;
    cursor: pointer;
}